http:
  routers:
    traefik-dashboard:
      rule: "Host(`dashboard.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: api@internal
      middlewares:
        - dashboard-auth
        - restricted-ips
      tls:
        certResolver: le

  middlewares:
    dashboard-auth:
      basicAuth:
        users:
          - "${DASHBOARD_USER}"
